{% extends "base.html" %}
{% block content %}
<div class="container mt-5 pt-5" >
    <div class=" row w-50 border shadow-lg m-auto pt-5 pb-5 text-center" >
        <div class="col-12 col-md-6 m-auto" style="font-size: 60px;">
            <i class="fa fa-check-square-o text-success text-center" ></i> 
            
        </div>
        <div class="row">
            <div class="col-12 col-md-6 m-auto text-success" style="font-size: 30px;">
            <p>
                Your Order is successfully submited
            </p></div>
        </div>
    </div>
</div>
{% endblock %}